<h1>全体レビュー一覧</h1>

<div class="row">
  <table class="table table striped">
    <tr>
      <th>評価点</th>
      <th>タイトル</th>
      <th>ジャンル</th>
      <th>タグ</th>
    </tr>

  	
  <% @reviews.each do |review| %>
    <tr>
      <td>
        <div id="star-rate-<%= review.id %>"></div>
        <script>
        $('#star-rate-<%= review.id %>').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          readOnly: true,
          score: <%= review.rating %>,
        });
        </script>
      </td>

      <td><%= link_to review.title, review_path(review) %></td>

      <td><%= review.genre.genre_name %></td>

      <td>
        <% review.tag_list.each do |tag| %>
  	      <span class="badge.badge-primary.mr-1.p-2"><%= tag %></span>
  	    <% end %>
  	  </td>
  	</tr>
  <% end %>
  </table>
</div>