<h1>新規投稿</h1>


<div class="">
  <%= form_for(@review, url: reviews_path, method: :post) do |f| %>
  <div class="">
  	<%= f.label :picture, "レビュー写真（任意）" %>
  </div>
  <div class="">
  <%= f.attachment_field :picture, class:"" %>
  </div>

  <div class="">
  	<label>星評価</label>
  </div>
  <div class="field" id="star">
  	<%= f.label :rating %>
  	<%= f.hidden_field :rating, id: :review_star %>
  </div>

  <div class="form-group">
  	<%= f.label :title, "タイトル" %>
  	<%= f.text_field :title, class:"form-control" %>
  </div>

  <div class="form-group">
  	<%= f.label :review_body, "本文" %>
  	<%= f.text_area :review_body, class:"form-control" %>
  </div>

  <div class="">
    <label>ジャンル選択</label>
    <div class="ml-5">
      <%= radio_button_tag :genre_choice, 1 %> 登録しているジャンルから選択
      <div class="form-group">
    	  <%= collection_select(:exist_genre, :genre_id, current_user.genres, :id, :genre_name, { include_blank: '選択してください'}, class:"form-control") %>
      </div>
    </div>

    <div class="ml-5">
      <%= radio_button_tag :genre_choice, 2 %> 新規ジャンル登録
      <div class="form-group">
        <%= label :new_genre_name, "ジャンル名" %>
        <%= text_field_tag :new_genre_name,'', class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
  	<%= f.label :tag_list, "タグ付け（複数タグ付けする場合は「 , 」で区切ってください）" %>
  	<%= f.text_field :tag_list, value: @review.tag_list.join(','), class: "form-control" %>
  </div>

  <div class="">
  	<%= f.submit "投稿", class:"btn btn-primary" %>
  </div>
  <% end %>

</div>

<script>
$('#star').raty({
  size     : 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  scoreName: 'review[rating]'
});
</script>