<h1>新規投稿</h1>


<div class="">
  <%= form_for(@review, url: reviews_path, method: :post) do |f| %>
  <div class="">
  	<%= f.label :picture, "レビュー写真" %>
  </div>
  <div class="">
  <%= f.attachment_field :picture, class:"" %>
  </div>

  <div class="">
  	<label>星評価</label>
  </div>
  <div class="field" id="star">
  	<%= f.label :rating %>
  	<%= f.hidden_field :rating, id: :review_star %>
  </div>

  <div class="">
  	<%= f.label :title, "タイトル" %>
  </div>
  <div class="">
  	<%= f.text_field :title, class:"" %>
  </div>

  <div class="">
  	<%= f.label :review_body, "本文" %>
  </div>
  <div class="">
  	<%= f.text_field :review_body, class:"" %>
  </div>

  <div class="">
  	<%= f.submit "投稿", class:"btn btn-secondary" %>
  </div>
  <% end %>

</div>

<script>
$('#star').raty({
  size     : 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  scoreName: 'review[rating]'
});
</script>