<h1>レビュー詳細</h1>


<div class="row">
  <div class="">
  <p>星評価</p>
  <div id="star-rate-<%= @review.id %>"></div>


  <div class="">
  <p>タイトル</p>
  <%= @review.title %>
  </div>

  <div class="">
  <%= attachment_image_tag @review, :picture, :fill, 300, 300, size:'300×300' %>
  </div>

  <div class="">
  <p>本文</p>
  <%= @review.review_body %>
  </div>

  
</div>

<script>
$('#star-rate-<%= @review.id %>').raty({
  size     : 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  readOnly: true,
  score: <%= @review.rating %>,
});
</script>
