<div class="row">
  <h1>レビュー詳細</h1>
  <div class="">
    <% if @review.favorited_by?(current_user) %>
      <%= link_to review_favorites_path(@review), method: :delete do %>
        <i class="fas fa-heart" aria-hidden="true" style="color: red:"></i>
      <% end %>
    <% else %>
      <%= link_to review_favorites_path(@review), method: :post do %>
        <i class="far fa-heart" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>

  <div class="">
  <p>星評価</p>
  <div id="star-rate-<%= @review.id %>"></div>


  <div class="">
  <p>タイトル</p>
  <%= @review.title %>
  </div>

  <div class="">
  <%= attachment_image_tag @review, :picture, :fill, 300, 300, size:'300×300' %>
  </div>

  <div class="">
  <p>本文</p>
  <%= @review.review_body %>
  </div>

  <div class="">
  <p>ジャンル</p>
  <%= @review.genre.genre_name %>
  </div>

  <div class="">
  	<p>タグ</p>
  	<% @review.tag_list.each do |tag| %>
  	  <span class="badge.badge-primary.mr-1.p-2"><%= tag %></span>
  	<% end %>
  	
  </div>
  
  <% if @review.user_id == current_user.id %>
    <div class="">
      <%= link_to "編集する", edit_review_path(@review), class:"btn btn-primary" %>
    </div>

    <div class="">
      <%= link_to "削除する", review_path(@review), method: :delete, class:"btn btn-danger" %>
    </div>
  <% end %>
  
</div>



<!-- コメント投稿&一覧 -->
<div class="row">
  <h3>コメント投稿</h3>

  <div class="">
    <%= form_for(@comment, url: review_comments_path(@review), method: :post) do |f| %>
      <div class="form-group">
        <%= f.label :comment_body, "コメント" %>
        <%= f.text_area :comment_body, class:"form-control" %>
      </div>
      <div class="">
        <%= f.submit "投稿", class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <table class="">
    <% if @comments.present? %>
      <% @comments.each do |comment| %>
        <tr class="">
          <th><%= comment.comment_body %></th>
          <th>
            <% if comment.user_id == current_user.id %>
              <%= link_to "削除する", review_comment_path(@review), method: :delete, class:"btn btn-danger" %>
            <% end %>
          </th>
        </tr>
      <% end %>
    <% else %>
      <div class="">
        <p>コメントはありません。</p>
      </div>
    <% end %>
  </table>
</div>



<script>
$('#star-rate-<%= @review.id %>').raty({
  size     : 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  readOnly: true,
  score: <%= @review.rating %>,
});
</script>
