<!DOCTYPE html>
<html>
  <head>
    <title>MyExperience</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="assets/jquery.raty.js"></script>
  </head>

  <div class="container">
    
<!-- ヘッダー -->
    <header class="sticky-top">
      <nav class="">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'ABOUT', about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'マイページ', user_path(current_user.id), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'ABOUT', about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログイン', new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </nav>
    </header>

<!-- 本文 -->
    <body>
      <%= yield %>
    </body>
  </div>

</html>
