<!DOCTYPE html>
<html>
  <head>
    <title>MyExperience</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="assets/jquery.raty.js"></script>
  </head>

  <body class="d-flex flex-column" style="min-height: 100vh">
  <div class="container">
    <header class="sticky-top">
      <nav class="navbar navbar-expand-sm">
        <div class="navbar-brand">
          <h2 class=""><a class="" href="/"><i class="fas fa-star"></i></a></h2>
        </div>
        <h2>Review</h2>
        <% if user_signed_in? %>
          <div class="nav-item ml-auto">
            <%= link_to 'ABOUT', about_path, class: "nav-link" %>
          </div>
          <div class="nav-item">
            <%= link_to 'マイページ', user_path(current_user.id), class: "nav-link" %>
          </div>
          <div class="nav-item">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link" %>
          </div>
        <% else %>
          <div class="nav-item ml-auto">
            <%= link_to 'ABOUT', about_path, class: "nav-link" %>
          </div>
          <div class="nav-item">
            <%= link_to 'ログイン', new_user_session_path, class: "nav-link" %>
          </div>
        <% end %>
      </nav>
    </header>
  </div>

  <div class="container">

    <%= yield %>

  </div>
  </body>
</html>
