<!DOCTYPE html>
<html>
  <head>
    <title>MyExperience</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="container">
    
<!-- ヘッダー -->
    <header class="sticky-top">
      <nav class="">
        <% if user_signed_in? %>
          <div class="nav-item">
            <a class="nav-link" href="/about"> ABOUT</a>
          </div>
          <div class="nav-item">
            <a class="nav-link" data-method="delete" href="/users/sign_out"> ログアウト</a>
          </div>
        <% else %>
          <div class="nav-item">
            <a class="nav-link" href="/about"> ABOUT</a>
          </div>
          <div class="nav-item">
            <a class="nav-link" href="/users/sign_in"> ログイン</a>
          </div>
        <% end %>
      </nav>
    </header>

<!-- 本文 -->
    <body>
      <%= yield %>
    </body>
  </div>

</html>
